/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
p {
    font-size: x-large;
    margin-left: 50px;
    font-weight: bold;
}

.answerbar {
    width: fit-content;
    background-color: bisque;
    border-left: solid 3px;
    padding: 40px;
    margin-left: 30px;
    line-height: 40px;
}

.yourquestion {
    width: fit-content;
    background-color: white;
    border-left: solid 3px;
    padding: 40px;
    margin: 40px;
    line-height: 40px;
}

.link {
    padding-left: 40px;
    margin-left: 30px;
    padding-top: 40px;
}
